/* Extra-large */
@media (min-width: 1200px) {
    
}

/* Large */
@media (max-width: 1340px) {
    .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .section-header {
        padding-left: 2rem;
    }
    .nav-item {
        margin-top: .5rem;
    }
}

/* Medium */
@media (max-width: 991px) {
    #reg-form {
        width: 600px;
        height: 2450px;
    }
    #map {
        width: 600px;
    }
}

/* Small */
@media (max-width: 767px) {
    .only-md-elem {
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .carousel {
        display: none;
    }
    #reg-form {
        width: 450px;
        height: 2530px;
    }
    #map {
        width: 450px;
    }
}

/* Extra-small */
@media (max-width: 575px) {
    #reg-form {
        width: 350px;
        height: 2700px;
    }
    #map {
        width: 350px;
    }
}

@media (max-width: 355px) {
    #reg-form {
        width: 280px;
        height: 2800px;
    }
    #map {
        width: 280px;
    }
}